.twin-container{
    display: flex;
}
.product-container{
    width: 75%;
    margin-left: 20px;
    margin-right: 5px;
    border-right: 1px solid lightsalmon;
}
.main-button{
    background-color:goldenrod;
    width: 150px;
    height:30px;
    border: 1px solid rgb(122, 98, 35);
    border-radius: 7px;
    cursor: pointer;
}